h2 {
    background-color: rgb(90, 4, 4);
    font-family: "playfair display";
    padding: 5px 10px;
    border: 4px solid #D4AF37;
    display: inline-flex;   
    margin: 0;
    margin-top: 20px;
    margin-left: 20px;
}             

header {
    color: white;
    background-color: rgb(90, 4, 4);
    font-family: "playfair display";
    font-size: 20px;
    margin: 30px 50px;
    text-align: center;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    border-left: 4px solid white ;
    border-right: 4px solid white;
}

.tittle {
    text-align: right;

}

.main-container {
    color: white;
    font-family: "playfair display";
    font-size: 20px;
    border-left: 4px solid white ;
    border-right: 4px solid white ;
}

body {
    background-color:#420000;
    margin: 0;
}

.conteiner {
    font-family: "lora", "serif";
    background-color: #8B0000;
    color: #F4F4F4;;
    border:2px solid #D4AF37;
    border-radius: 8px;
    padding: 4px 16px;
    max-width: 800px;
    margin: 20px auto;
 }

button {
    font-size: 15px;
    text-align: center;
    background-color: #D4AF37;
    color: #420000;
    padding: 8px;
    border-radius: 16px;
    cursor: pointer;
}

.conteiner img {
    padding: 4px 2px;
    justify-content: center;
    width: 100%;
    display: block;
    height: auto;
    margin: 0%;
}

h4 {
    color: white;
}

