

body {
    margin: 0;
    background-color: #FF0088;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    
    margin: 30px 50px;
    padding:  1px 2px 1px;
    background-color: #cf1d7c;
    text-align: center;
    border-left: 4px solid white ;
    border-right: 4px solid white;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


 .main-container {
    background-color:  #cf1d7c;
    margin: 50px;
    border-radius: 8px;
    padding: 30px 20px;
 }

 .main-container h2 {
    font-size: 20px;
    color: white;
    text-align: left; 
    background-color: #cf1d7c;
 }

 .conteiner {
    background-color: white;
    border:4px solid none ;
    border-radius: 8px;
    padding: 4px 16px;
 }
 
 .tittle {
    color:  #cf1d7c;
    text-align: right;
 }

 .conteiner img {
    padding: 4px 2px;
    justify-content: center;
    width: 100%;
 }

 button {
   color: white;
   background-color: green;
   border: none;
   border-radius: 4px;
   display: block;
   margin: 10px auto;
   padding: 12px 18px;
   font-size: 18px;
   cursor: pointer;
  
   }

   .info {
      color: white;
      background-color: #ee82bc;
      padding: 2px;
      text-align: center;
      margin: 50px;
      border-radius: 4px;
   }




